<launch>
  <arg name="config" default="$(find image_pointcloud_fusion)/config/c32_oak.yaml"/>
  <arg name="python_exec" default="/usr/bin/python3"/>
  <arg name="invert_extrinsic" default="true"/>
  <arg name="image_is_rectified" default="false"/>
  <arg name="camera_topic" default="/stereo_inertial_publisher/color/image"/>
  <arg name="lidar_topic" default="/velodyne_points"/>
  <arg name="sync_slop" default="0.05"/>
  <arg name="rviz" default="false"/>
  <node pkg="image_pointcloud_fusion" type="c32_oak_projection.py" name="c32_projection"
        output="screen" launch-prefix="$(arg python_exec)" required="true">
    <rosparam command="load" file="$(arg config)"/>
    <param name="invert_extrinsic" value="$(arg invert_extrinsic)"/>
    <param name="image_is_rectified" value="$(arg image_is_rectified)"/>
    <param name="camera_topic" value="$(arg camera_topic)"/>
    <param name="lidar_topic" value="$(arg lidar_topic)"/>
    <param name="sync_slop" value="$(arg sync_slop)"/>
  </node>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="fusion_rviz"
        args="-d $(find image_pointcloud_fusion)/rviz/c32_oak.rviz"/>
</launch>

